<table>
    <tr>
        <td id="td1"><img src="assets/img/nike_PNG5.png" alt=""><br><span>"Just Do It"<br><button>Shoe List</button></span></td>
        <td id="td2"><img src="assets/img/adidas.png" alt=""></td>
        <td id="td3"><img src="assets/img/jordan.png" alt=""><br>J O R D A N</td>
        <td id="td4"><img src="assets/img/newbalance.png" alt=""></td>
        <td id="td5"><img src="assets/img/reebok.png" alt=""></td>
        <td id="td6"><img src="assets/img/anta.png" alt=""></td>
        <td id="td7"><img src="assets/img/underarmour.png" alt=""></td>
    </tr>
</table>
